@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.valid {
  text-decoration: line-through;
}

@layer utilities {
  .bold {
    @apply font-bold text-[18px];
  }

  .flexCenter {
    @apply flex items-center;
  }
  .addProduct_input {
    @apply border rounded-md p-2 w-full bg-white text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
  .flexCenterBetwen {
    @apply flex items-center justify-between;
  }
}
.star-ratings {
  margin-top: -3px !important;
}

/* checkout */
.step_item {
  @apply relative flex flex-col justify-center items-center w-36;
}
.step_item:not(:first-child):before {
  @apply content-[""]  bg-slate-900 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}
.active .step {
  @apply bg-sky-600;
}
.completed .step {
  @apply bg-green-500;
}
.completed:not(:first-child)::before {
  @apply bg-green-600;
}
/* table */

/* hero start */

.bg-hero {
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
    url("/hero/bg-hero.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 95vh;
}

/* hero finish */

/* animate start */
.hero-active .animate-spin {
  animation: spin 15s linear infinite !important;
}
/* animate finish */

/* header start */

.active-header {
  position: relative;
}
.active-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  transition: all 1s ease-in-out;
  width: 0;
  height: 2px;
  background: black;
  right: 0;
}
.active-header:hover::after {
  width: 100%;
  left: 0;
}

/* header finish */

/* bgmenu */
.bg-menu {
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(15, 23, 43, 0.9)),
    url("/menuPage/menu-bg.jpg");
  width: 100% !important;
  height: 55vh !important;
}
.bg-pasta {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(15, 23, 43, 0.9)),
    url("/menuPage/dish.jpg");
  width: 100%;
  padding: 2px;
  border-radius: 15px;
}
.bg-pasta::before {
  background: #0c0c0c;
}
.img-wrapper {
  margin: -40px 0;
  padding: 0 55px 0 0;
}
.bg-friends {
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(15, 23, 43, 0.9)),
    url("/menuPage/friends.jpg");
  width: 100% !important;
  height: 75vh !important;
}
.bg-friends::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.455);
}
/* bgmenu */

/* bg-about */

.bg-about {
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(15, 23, 43, 0.9)),
    url("/about/slider_bg3.jpg");
  width: 100% !important;
  height: 55vh !important;
}
/* bg-contact */
.bg-contact {
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(15, 23, 43, 0.9)),
    url("/hero/contact-1.jpg");
  width: 100% !important;
  height: 55vh !important;
}

/* bg-favorite */
.bg-favorite {
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(15, 23, 43, 0.9)),
    url("/overlapping-circles.svg");
  width: 100% !important;
  height: 45vh !important;
}

/* hamburger bar */

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.bar {
  width: 30px;
  background-color: black;
  height: 2px;
  margin: 2px 0;
  border-radius: 5px;
  transition: 0.3s;
}
.hamburger .bar {
  background-color: black;
}
.hamburger.active .bar {
  background-color: black;
}
.hamburger:hover .bar {
  background-color: black;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

/* datepicker */
.react-datepicker__navigation {
  right: 0 !important;
}

/* modal Auth  header*/
.header .ant-modal-content {
  padding: 0 !important;
  width: 60rem !important;
}
.header .ant-modal-body {
  height: 100% !important;
}
@media (max-width: 768px) {
  .header .ant-modal-content {
    width: 100% !important;
    right: -13rem !important;
  }
}
.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.navbar-visible {
  transform: translateY(0);
  transition: transform 0.3s ease;
}
